.sidebar {
  width: 60px;
  background-image: linear-gradient(to bottom, rgba(244, 244, 245, 1), rgba(159, 201, 228, 1), rgba(201, 223, 237, 1), rgba(159, 201, 228, 1));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8px;
  gap: 10px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  max-height: 800px;
}

.namoula {
  width: 45px;
  height: 50px;
  object-fit: contain;
 margin-bottom: 10px;
}

.sidebar-button-wrapper {
  position: relative;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.sidebar-button-wrapper:hover {
  background-color: #fdf9ec;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.arrow-hover {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: rgba(243, 240, 223, 1);
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.arrow-hover img {
  width: 10px;
  height: 10px;
}

.sidebar-button-wrapper:hover .arrow-hover {
  display: flex;
}

.sidebar-button-wrapper:last-child {
  margin-top: 140px;
}
