.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-row {
  display: flex;
  gap: 20px; /* space between the two halves */
  flex-wrap: wrap; /* so on small screens they stack */
  margin-top: 20px; /* optional spacing from PageChart */
}

.half {
  flex: 1; /* take equal space */
  min-width: 300px; /* optional: to prevent too narrow on small screens */
  box-sizing: border-box;
}

